.fade {
  transition: opacity 0.4s linear;
}

.card {
  margin: 5px auto auto auto;
  max-width: 40%;
}

#serviceCards {
  width: 90%;
  /* margin: 2px auto 2px auto; */
  margin: auto auto auto auto;
  padding: auto;
  display: flex;
  flex-basis: 2;
  flex-direction: row;
  flex-wrap: wrap;
}

body {
  text-align: center;
}

fieldset {
  text-align: left;
}

